name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5 
        with:
          python-version: '3.12.3'

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 'latest'
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Load Cached Poetry Virtual Environment
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      # - name: Installs the dependencies
      #   run: poetry install --no-interaction

      # - name: Format with Ruff
      #   run: poetry run ruff format

      # - name: Lint with Ruff
      #   run: poetry run ruff check

      # - name: Lint with pylint
      #   run: poetry run pylint .

      # - name: Type check with mypy
      #   run: poetry run mypy main.py merkle_proof.py util.py

      # - name: Run Bandit SAST
      #   run: poetry run bandit -r .

      # - name: Scan Secrets with TruffleHog
      #   uses: trufflesecurity/trufflehog@main

      # - name: Run tests and generate coverage report
      #   uses: poetry run pytest --cov=.
